<!DOCTYPE html>
<html>
<head>
  <title>Cancan</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
 <% if user_signed_in? %>
  <p>welcome, signed in as <%=current_user.email%></p>
<%= link_to "log_out", destroy_user_session_path ,method: :delete%>
<%else%>   

  <%= link_to "login",  new_user_session_path %>
  <%= link_to "logout", destroy_user_session_path ,method: :delete%>
<%end%>
<body>

<%= yield %>

</body>
</html>
